html{
    height: 100%;
}
*{
    font-family:sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
body{
    background-color: #212121;
    overflow: hidden;
    height: 100%;
}
.inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.sidebar{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0 48px 0;
    height: 100%;
    width: 240px;
    background-color: #1E1E1E;
    color: #FFFFFF;
    gap: 10px;
}
.title{
    font-size: 32px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
}
.page{ 
    display: flex;
    flex: 0 0 auto;
    height: 100%;
    overflow: hidden;
}
.logo{
    position: relative;
    width: 64px;
    height: 64px;
    margin: 0px auto;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 24px 0;
    width: 100%;
    flex-grow: 1;
}
.nav a{
    width: 100%;
    font-size: 24px;
    padding: 15px 38px;
    background-color: #4d4d4d;
}
.madeby{
    margin-bottom: auto;
    text-align: center;
}
.madeby a{
    text-decoration: none;
}
.link{
    color: #0fff00;
}
.hero{
    width: 100%;
    height: 100%;
}
.content{
    position: relative;
    padding: 50px 18px;
    overflow: hidden;
    height: 100%;
    flex-wrap: wrap;
}
.cases{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}
label{
    text-align: center;
    cursor: pointer;
}
label img{
    border-radius: 15px;
    pointer-events: none;
    -webkit-user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
label div a{
    font-size: 28px;
    display: block;
    border-radius: 15px;
    pointer-events: none;
    -webkit-user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}
.settings-cb{
    display: flex;
}
.case-checkbox {
    display: none;
}
.setting.s-disabled{
    opacity: 0.25;
}
.settings.s-active{
    opacity: 1;
}
