@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500;800&display=swap');
*{
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #18171D;
    width: 256px;
    height: 287px;
    overflow: hidden;
}
.main{
  display: flex;
  width: 256px;
  height: 287px;
  flex-direction: column;
  overflow: hidden;
  background-color: #18171D;
  box-shadow: 8px 8px 24px #0000004D;
  border: 1px solid #39383D;
  gap:16px;
  align-items: center;

}
.logoh{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.holder{
  width: 224px;
  height: 101px;
  text-align: center;
}
.text{
  font-size: 24px;
  color: #9C9C9C;
  width: 224px;
  height: 42px;
}
.btn{
  display: flex;
  width: 224px;
  height: 43px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-top: 12px;
  box-shadow: 2px 2px 12px #ffffff4d;
  cursor: pointer;
}
.btn span{
  color: #2e2d33;
  font-size: 18px;
}
.btn:hover{
  background-color: #ffcc00;
  box-shadow: 5px 5px 12px #ffcc004d;
}
.btn span::after{
  content: attr(data-after);
}
.bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 234px;
}
.btn-bar{
  width: 64px;
  height: 43px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 8px #ffffff4d;
  cursor: pointer;
}
.bbr{
  width: 64px;
  height: 43px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 8px #ffffff4d;
  cursor: pointer;
}
.bbr:hover{
  background-color: #ff3030;
  box-shadow: 3px 3px 8px #ff000089;
}
.btn-bar:hover{
  background-color: #ffcc00;
  box-shadow: 3px 3px 8px #fffc004d;
}
.madeby{
  width: 250px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.madeby span{
  font-size: 10px;
  color: #9E9E9E;
}